*{
font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
background-image: url(/src/assets/wallpapersden.com_game-of-thrones-season-7-the-spoils-of-war-minimal-art_1920x1080.png);
color:aliceblue;
}


img {
width: 200px;
height: 200px;
border-radius: 10px;
border: 4px ridge #743A44;


}

b {

margin-right: 5px;
}



img.logo {
width: 450px; 
height: auto;
border: 0;
}